<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>lon</key>
		<string>116.3057030000</string>
		<key>lat</key>
		<string>40.0432690000</string>
		<key>name</key>
		<string>数字传媒大厦</string>
		<key>address</key>
		<string>上地六街</string>
	</dict>
	<key>2</key>
	<dict>
		<key>lon</key>
		<string>116.3047710000</string>
		<key>lat</key>
		<string>40.0388100000</string>
		<key>name</key>
		<string>东距物业</string>
		<key>address</key>
		<string>北京上地三街</string>
	</dict>
	<key>3</key>
	<dict>
		<key>lon</key>
		<string>116.3070890000</string>
		<key>lat</key>
		<string>40.0409780000</string>
		<key>name</key>
		<string>方正大厦</string>
		<key>address</key>
		<string>上地五街东</string>
	</dict>
	<key>4</key>
	<dict>
		<key>lon</key>
		<string>116.3086770000</string>
		<key>lat</key>
		<string>40.0451500000</string>
		<key>name</key>
		<string>得实大厦</string>
		<key>address</key>
		<string>上地六街西</string>
	</dict>
	<key>5</key>
	<dict>
		<key>lon</key>
		<string>116.3074750000</string>
		<key>lat</key>
		<string>40.0425880000</string>
		<key>name</key>
		<string>奎科科技大厦</string>
		<key>address</key>
		<string>北京市海淀区上地街道信息路</string>
	</dict>
	<key>6</key>
	<dict>
		<key>lon</key>
		<string>116.3057590000</string>
		<key>lat</key>
		<string>40.0415690000</string>
		<key>name</key>
		<string>奎科科技大厦</string>
		<key>address</key>
		<string>北京市海淀区上地街道开拓路</string>
	</dict>
	<key>7</key>
	<dict>
		<key>lon</key>
		<string>116.3043000000</string>
		<key>lat</key>
		<string>40.0419640000</string>
		<key>name</key>
		<string>7天酒店(北京上地店)</string>
		<key>address</key>
		<string>北京市海淀区上地街道</string>
	</dict>
	<key>8</key>
	<dict>
		<key>lon</key>
		<string>116.3042570000</string>
		<key>lat</key>
		<string>40.0413720000</string>
		<key>name</key>
		<string>先锋大厦</string>
		<key>address</key>
		<string>北京市海淀区上地街道上地西路</string>
	</dict>
	<key>9</key>
	<dict>
		<key>lon</key>
		<string>116.2997180000</string>
		<key>lat</key>
		<string>40.0404930000</string>
		<key>name</key>
		<string>八维学院网络工程学院北京八维研修学院-软工学院</string>
		<key>address</key>
		<string>北京市海淀区上地街道北京市</string>
	</dict>
	<key>10</key>
	<dict>
		<key>lon</key>
		<string>116.2917790000</string>
		<key>lat</key>
		<string>40.0455200000</string>
		<key>name</key>
		<string>环宇大厦</string>
		<key>address</key>
		<string>北京市海淀区上地街道</string>
	</dict>
	<key>11</key>
	<dict>
		<key>lon</key>
		<string>116.2981300000</string>
		<key>lat</key>
		<string>40.0443040000</string>
		<key>name</key>
		<string>和颐酒店</string>
		<key>address</key>
		<string>北京市海淀区上地街道国际软件大厦</string>
	</dict>
	<key>12</key>
	<dict>
		<key>lon</key>
		<string>116.3025940000</string>
		<key>lat</key>
		<string>40.0352690000</string>
		<key>name</key>
		<string>城管大队上地分队</string>
		<key>address</key>
		<string>北京市海淀区上地街道北京海淀区</string>
	</dict>
	<key>13</key>
	<dict>
		<key>lon</key>
		<string>116.3080440000</string>
		<key>lat</key>
		<string>40.0366160000</string>
		<key>name</key>
		<string>金隅嘉华大厦</string>
		<key>address</key>
		<string>北京市海淀区上地街道</string>
	</dict>
	<key>14</key>
	<dict>
		<key>lon</key>
		<string>116.3043960000</string>
		<key>lat</key>
		<string>40.0378320000</string>
		<key>name</key>
		<string>金融科贸大厦</string>
		<key>address</key>
		<string>北京市海淀区上地街道玉景公寓</string>
	</dict>
	<key>15</key>
	<dict>
		<key>lon</key>
		<string>116.3018210000</string>
		<key>lat</key>
		<string>40.0389490000</string>
		<key>name</key>
		<string>北京实创园林公司</string>
		<key>address</key>
		<string>北京市海淀区上地街道</string>
	</dict>
	<key>16</key>
	<dict>
		<key>lon</key>
		<string>116.3032800000</string>
		<key>lat</key>
		<string>40.0380950000</string>
		<key>name</key>
		<string>东居物业二公寓</string>
		<key>address</key>
		<string>北京市海淀区上地街道</string>
	</dict>
	<key>17</key>
	<dict>
		<key>lon</key>
		<string>116.2961560000</string>
		<key>lat</key>
		<string>40.0410520000</string>
		<key>name</key>
		<string>东北旺南路53号</string>
		<key>address</key>
		<string>北京市海淀区上地街道</string>
	</dict>
	<key>18</key>
	<dict>
		<key>lon</key>
		<string>116.2981300000</string>
		<key>lat</key>
		<string>40.0407230000</string>
		<key>name</key>
		<string>北京八维研修学院-软工学院</string>
		<key>address</key>
		<string>北京市海淀区上地街道唐家岭路36号</string>
	</dict>
	<key>19</key>
	<dict>
		<key>lon</key>
		<string>116.3045680000</string>
		<key>lat</key>
		<string>40.0413800000</string>
		<key>name</key>
		<string>先锋大厦</string>
		<key>address</key>
		<string>北京市番禺区大石街道通用酒店</string>
	</dict>
	<key>20</key>
	<dict>
		<key>lon</key>
		<string>116.3040100000</string>
		<key>lat</key>
		<string>40.0402630000</string>
		<key>name</key>
		<string>上地西路</string>
		<key>address</key>
		<string>北京市海淀区上地街道</string>
	</dict>
	<key>21</key>
	<dict>
		<key>lon</key>
		<string>113.327837</string>
		<key>lat</key>
		<string>23.022871</string>
		<key>name</key>
		<string>广州格利蒙那提琴有限公司</string>
		<key>address</key>
		<string>广东省广州市番禺区大石街道朝阳东路381</string>
	</dict>
	<key>22</key>
	<dict>
		<key>lon</key>
		<string>113.33449</string>
		<key>lat</key>
		<string>23.01744</string>
		<key>name</key>
		<string>粤安大酒店</string>
		<key>address</key>
		<string>广东省广州市番禺区大石街道迎宾路370号</string>
	</dict>
	<key>23</key>
	<dict>
		<key>lon</key>
		<string>113.372258</string>
		<key>lat</key>
		<string>22.973929</string>
		<key>name</key>
		<string>龙美村</string>
		<key>address</key>
		<string>广东省广州市番禺区东环街道龙美村</string>
	</dict>
	<key>24</key>
	<dict>
		<key>lon</key>
		<string>113.374104</string>
		<key>lat</key>
		<string>22.978907</string>
		<key>name</key>
		<string>天安菁华公寓3栋</string>
		<key>address</key>
		<string>广东省广州市番禺区南村镇天安菁华公寓3栋</string>
	</dict>
	<key>25</key>
	<dict>
		<key>lon</key>
		<string>113.35123</string>
		<key>lat</key>
		<string>22.982246</string>
		<key>name</key>
		<string>表哥好味鹅(番禺店)</string>
		<key>address</key>
		<string>广东省广州市番禺区南村镇表哥好味鹅(番禺店)</string>
	</dict>
	<key>26</key>
	<dict>
		<key>lon</key>
		<string>113.357109</string>
		<key>lat</key>
		<string>22.987125</string>
		<key>name</key>
		<string>植地庄抗日战斗烈士纪念碑</string>
		<key>address</key>
		<string>广东省广州市番禺区南村镇迎宾大道868</string>
	</dict>
	<key>27</key>
	<dict>
		<key>lon</key>
		<string>113.411761</string>
		<key>lat</key>
		<string>22.998167</string>
		<key>name</key>
		<string>周地岗</string>
		<key>address</key>
		<string>广东省广州市番禺区石基镇周地岗</string>
	</dict>
	<key>28</key>
	<dict>
		<key>lon</key>
		<string>113.439399</string>
		<key>lat</key>
		<string>22.997851</string>
		<key>name</key>
		<string>大镇岗</string>
		<key>address</key>
		<string>广东省广州市番禺区化龙镇大镇岗</string>
	</dict>
	<key>29</key>
	<dict>
		<key>lon</key>
		<string>113.446094</string>
		<key>lat</key>
		<string>22.947434</string>
		<key>name</key>
		<string>石碁中学</string>
		<key>address</key>
		<string>广东省广州市番禺区石基镇石碁中学</string>
	</dict>
	<key>30</key>
	<dict>
		<key>lon</key>
		<string>113.512012</string>
		<key>lat</key>
		<string>22.975568</string>
		<key>name</key>
		<string>莲花山码头</string>
		<key>address</key>
		<string>广东省广州市番禺区石楼镇海滨大道6号</string>
	</dict>
	<key>31</key>
	<dict>
		<key>lon</key>
		<string>113.361055</string>
		<key>lat</key>
		<string>23.124855</string>
		<key>name</key>
		<string>天河区</string>
		<key>address</key>
		<string>广东省广州市天河区天园街道天府路1</string>
	</dict>
	<key>32</key>
	<dict>
		<key>lon</key>
		<string>113.350584</string>
		<key>lat</key>
		<string>23.11933</string>
		<key>name</key>
		<string>广州广电中心A栋</string>
		<key>address</key>
		<string>广东省广州市天河区冼村街道平云路163平</string>
	</dict>
	<key>33</key>
	<dict>
		<key>lon</key>
		<string>113.336937</string>
		<key>lat</key>
		<string>23.126197</string>
		<key>name</key>
		<string>广州维多利酒店</string>
		<key>address</key>
		<string>广东省广州市天河区冼村街道维多利大厦</string>
	</dict>
	<key>34</key>
	<dict>
		<key>lon</key>
		<string>113.401568</string>
		<key>lat</key>
		<string>23.109304</string>
		<key>name</key>
		<string>东圃(地铁站)</string>
		<key>address</key>
		<string>广东省广州市天河区前进街道东圃(地铁站)</string>
	</dict>
	<key>35</key>
	<dict>
		<key>lon</key>
		<string>113.398693</string>
		<key>lat</key>
		<string>23.107665</string>
		<key>name</key>
		<string>东圃码头</string>
		<key>address</key>
		<string>广东省广州市天河区前进街道东圃码头</string>
	</dict>
	<key>36</key>
	<dict>
		<key>lon</key>
		<string>113.422425</string>
		<key>lat</key>
		<string>23.11181</string>
		<key>name</key>
		<string>天河明珠中英文学校</string>
		<key>address</key>
		<string>广东省广州市天河区前进街道天河明珠中英文学校</string>
	</dict>
	<key>37</key>
	<dict>
		<key>lon</key>
		<string>113.389635</string>
		<key>lat</key>
		<string>23.116291</string>
		<key>name</key>
		<string>车陂南(地铁站)</string>
		<key>address</key>
		<string>广东省广州市天河区天园街道车陂南(地铁站)</string>
	</dict>
	<key>38</key>
	<dict>
		<key>lon</key>
		<string>113.384915</string>
		<key>lat</key>
		<string>23.131051</string>
		<key>name</key>
		<string>同心公园</string>
		<key>address</key>
		<string>广东省广州市天河区棠下街道八达通信(龙门路)</string>
	</dict>
	<key>39</key>
	<dict>
		<key>lon</key>
		<string>113.317366</string>
		<key>lat</key>
		<string>23.105831</string>
		<key>name</key>
		<string>新理想华庭</string>
		<key>address</key>
		<string>广东省广州市海珠区赤岗街道琴海居</string>
	</dict>
	<key>40</key>
	<dict>
		<key>lon</key>
		<string>113.315049</string>
		<key>lat</key>
		<string>23.101055</string>
		<key>name</key>
		<string>《健康之路》杂志社</string>
		<key>address</key>
		<string>广东省广州市海珠区赤岗街道金菊路103号</string>
	</dict>
	<key>41</key>
	<dict>
		<key>lon</key>
		<string>113.30432</string>
		<key>lat</key>
		<string>23.140878</string>
		<key>name</key>
		<string>广州动物园猛兽区</string>
		<key>address</key>
		<string>广东省广州市越秀区黄花岗街道广州动物园</string>
	</dict>
	<key>42</key>
	<dict>
		<key>lon</key>
		<string>113.335219</string>
		<key>lat</key>
		<string>23.187751</string>
		<key>name</key>
		<string>南方医科大学</string>
		<key>address</key>
		<string>广东省广州市白云区京溪街道南方医科大学</string>
	</dict>
	<key>43</key>
	<dict>
		<key>lon</key>
		<string>113.61788799</string>
		<key>lat</key>
		<string>22.884454599</string>
		<key>name</key>
		<string>广州市</string>
		<key>address</key>
		<string>广州是美食之都</string>
	</dict>
	<key>44</key>
	<dict>
		<key>lon</key>
		<string>113.717887</string>
		<key>lat</key>
		<string>22.984454</string>
		<key>name</key>
		<string>东莞市</string>
		<key>address</key>
		<string>优信无限大厦</string>
	</dict>
	<key>45</key>
	<dict>
		<key>lon</key>
		<string>113.767887</string>
		<key>lat</key>
		<string>22.994454</string>
		<key>name</key>
		<string>东莞***</string>
		<key>address</key>
		<string>东莞市***</string>
	</dict>
	<key>46</key>
	<dict>
		<key>lon</key>
		<string>113.778887</string>
		<key>lat</key>
		<string>22.965454</string>
		<key>name</key>
		<string>东莞1***</string>
		<key>address</key>
		<string>东莞市1***</string>
	</dict>
	<key>47</key>
	<dict>
		<key>lon</key>
		<string>113.737787</string>
		<key>lat</key>
		<string>22.954464</string>
		<key>name</key>
		<string>东莞2***</string>
		<key>address</key>
		<string>东莞市2***</string>
	</dict>
	<key>48</key>
	<dict>
		<key>lon</key>
		<string>113.707787</string>
		<key>lat</key>
		<string>22.974464</string>
		<key>name</key>
		<string>东莞3***</string>
		<key>address</key>
		<string>东莞市3***</string>
	</dict>
	<key>49</key>
	<dict>
		<key>lon</key>
		<string>113.707787</string>
		<key>lat</key>
		<string>22.984464</string>
		<key>name</key>
		<string>东莞4***</string>
		<key>address</key>
		<string>东莞市4***</string>
	</dict>
</dict>
</plist>
